# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
artifacts/
cache/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
*.log

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Hardhat
typechain/
typechain-types/
